# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage

# Virtual environments
.venv/
venv/

# Editor
.vscode/
.idea/

# OS
.DS_Store

# Bytecode and build artifacts
build/
dist/
*.egg-info/

# Documents personnels
cours.pdf
